fastapi==0.108.0
mangum==0.17.0
uvicorn==0.25.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic-extra-types==2.2.0
python-dotenv==1.0.0
email-validator==2.1.0
boto3
python-multipart
pinecone
pinecone-plugin-assistant